@charset "utf-8";

// Bulma
//$title-color: #ff0000;

@import "~bulma/bulma.sass";
@import "~bulma-slider";

// Fontawesome icons
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

$slider-width: 45%;
$form-value-width: 90px;

.form-row {
  width: 90%;  // This should ideally be done differently but I don't know how
  margin-right: auto;
  flex: none;
}

.form-level-1 {
  padding-left: 5%;
}

.form-level-2 {
  padding-left: 10%;
}

.form-text {
  flex: none;
  width: calc(100% - #{$slider-width} - #{$form-value-width});
  text-align: left;
}

.slider-container {
  width: $slider-width;
}

.slider {
  width: 100%;
  margin-bottom: 0 !important;
  padding-bottom: 6px;
}

.slider-marks {
  display: flex;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 14px;
}
.slider-mark {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1px;
  /*background: gray;*/
}

.form-value {
  flex: none;
  width: $form-value-width;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

html {
  background: none;
}
